{{#partial "title" }}
Change Machine
{{/partial}}
{{#partial "content"}}

<h1>Money Changer</h1>
<form action="/results">
    <div class = "form-group">
        <label for="cash">Input Dollar Amount</label>
        <input id="cash" name="cash" class="form-control" type="text">
    </div>
</form>>
{{/partial}}
{{> layout.hbs}}